.gotop-section
  background: #ded1c6
  padding: 28px 0 20px
  background-size: cover!important
  background-repeat: repeat-y!important
  background-position: center!important
  @media #{$mobile}
    padding: 14px 0 10px
  .svg
    cursor: pointer
    +trans
    &:hover
      opacity: 0.7

footer.foot
  background: white
  margin-top: 0px
  padding-top: 80px
  padding-bottom: 50px
  @media #{$mobile}
    margin-top: 30px
    padding-top: 0
    padding-bottom: 15px
  .row
    +max-width
    .list-inline
      margin: 0
      padding: 0
      display: flex
      justify-content: center
      @media screen and (min-width: 768px)
        flex-wrap: nowrap
      @media #{$mobile}
        flex-wrap: wrap
      &.text-link
        margin-bottom: 55px
        @media #{$mobile}
          margin-bottom: 15px
        li
          padding: 0
          @media #{$mobile}
            width: 49%
            text-align: center
            margin-bottom: 7.5px
          &:last-child
            a::after
              display: none
          a
            font-size: 16px
            color: #4a3023
            letter-spacing: 2px
            &::after
              @media screen and (min-width: 768px)
                content: '|'
                font-size: 16px
                color: #4a3023
                margin: 0 30px
      &.icon-link
        li
          padding: 0
          margin: 0 15px

div.design
  padding-top: 13px
  padding-bottom: 13px
  background: #ded1c6
  // background: url(#{$url}foot-bg.svg) center center no-repeat
  // background-size: cover
  // padding-top: 51px
  // padding-bottom: 22px
  // position: relative
  @media #{$mobile}
    background-size: 1560px cover
    background-position: center
  p
    margin: 0
    padding: 0px 0
    text-align: center
    font-size: 10px
    color: #545454
    margin-bottom: 5px
    @media #{$mobile}
      padding-bottom: 10px
      line-height: 25px
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 10px
      color: #545454
      font-weight: normal
      letter-spacing: 0px
      letter-spacing: 1px
      @media #{$mobile}
        line-height: 15px
    a
      position: absolute
      right: 30px
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 0px

.right
  position: fixed
  bottom: 15%
  width: 48px
  right: 0px
  z-index: 9999
  a
    +trans
    &:hover
      opacity: 0.7
  .svg
    margin-bottom: 15px
    background-color: white!important
    border-radius: 7px
    overflow: hidden
    @media #{$mobile}
      $w: 50px
      width: $w!important
      height: $w!important