footer.foot
  background: white
  margin-top: 35px
  padding-top: 35px
  padding-bottom: 40px
  @media #{$mobile}
    margin-top: 20px
  .row
    +max-width
    display: flex
    align-items: center
    flex-wrap: nowrap
    @media #{$mobile}
      padding: 0 15px
      flex-wrap: wrap
  .line
    margin-left: 5px
    margin-bottom: 14px
  .title-1
    margin-left: 5px
  .title-2
    margin-top: 30px
    @media #{$mobile}
      max-width: 100%
  .text-content
    @media screen and (min-width: 768px)
      margin-right: 56px
    @media #{$mobile}
      width: 100%
      margin-bottom: 30px
  .info
    width: 100%
    p
      margin-bottom: 15px
    *
      color: #1c508e
      font-size: 18px
      font-weight: 400
      letter-spacing: 1px
      line-height: 30px
      @media #{$mobile}
        letter-spacing: 0
        font-size: 17px
    .svg
      margin-right: 15px
    .info-group
      >span
        margin-right: 15px
        @media #{$mobile}
          display: block
          margin-bottom: 15px
    .indent
      display: inline-block
      @media screen and (min-width: 768px)
        margin-left: 87px
        margin-top: 15px
        letter-spacing: 0
      @media #{$mobile}
        margin-top: 7.5px
div.design
  background: url(#{$url}foot-bg.svg) center center no-repeat
  background-size: cover
  padding-top: 51px
  padding-bottom: 22px
  position: relative
  @media #{$mobile}
    background-size: 1560px cover
    padding-bottom: 0
    background-position: center
  .gotop-content
    position: absolute
    top: -19px
    left: 0
    width: 100%
    text-align: center
  p
    margin: 0
    padding: 0px 0
    text-align: center
    font-size: 14px
    color: white
    @media #{$mobile}
      padding-bottom: 20px
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 14px
      color: white
    a
      position: absolute
      right: 30px
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 5px

.right
  position: fixed
  top: 45%
  width: 60px
  right: 10px
  z-index: 9999
  @media #{$mobile}
    width: 60px
    right: 0
  a
    +trans
    &:hover
      opacity: 0.7
  .svg
    margin-bottom: 15px
    @media #{$mobile}
      $w: 50px
      width: $w!important
      height: $w!important