.idx.section-3
  margin-top: 66px
  .module-title
    h4.title
      +title
      transform: translateY(150px)
      opacity: 0
    h3.title
      +sub-title
      transform: translateY(150px)
      opacity: 0

.module-special.module-special
  border-top: 3px solid #f9be00
  background: url(#{$url}section-3-bg.png) center center no-repeat
  background-size: cover
  padding: 70px 0 66px
  @media #{$mobile}
    padding: 35px 0 33px
  .mb
    +max-width
  a.btn
    width: 71px
    height: 25px
    background: url(#{$url}more.svg) center center no-repeat
    border: 0
    padding: 0
    position: absolute
    bottom: 52px
    right: 0
    @media #{$mobile}
      position: static
      min-width: initial
  .more
    @media #{$mobile}
      text-align: right
      width: 100%
      margin-top: 15px
      margin-bottom: 15px
  .mdate
    color: #ef8200
    font-size: 18px
    margin-right: 15px
    @media #{$mobile}
      display: block
      margin-bottom: 15px
  h5
    margin-bottom: 15px
    a
      font-size: 21px
      color: #008bd5

  .mdetail
    margin-left: 115px
    color: #5a5b5b
    font-size: 16px
    letter-spacing: 1px
    line-height: 30px
    @media #{$mobile}
      margin-left: 0
  .mbox
    margin-bottom: 26px
    padding-bottom: 26px
    border-bottom: 1px solid #5a5b5b
    @media #{$mobile}
      padding: 0 15px
  .d-item
    transform: translateY(150px)
    opacity: 0
  .row
    &:last-child
      .mbox
        border: 0
        margin-bottom: 0
        padding-bottom: 0