.idx.section-1
  background-image: url(#{$url}section-1-bg.png)
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  padding-top: 7%
  padding-bottom: 26%
  @media #{$mobile}
    background: #008bd5
    padding: 30px 0 0
  .row
    +max-width
    .col-xs-12
      display: flex
      justify-content: flex-end
      @media #{$mobile}
        flex-wrap: wrap-reverse
        justify-content: center
    .text-content
      text-align: right
      @media screen and (min-width: 768px)
        margin-left: 10%
      @media #{$mobile}
        margin-bottom: 30px
    .icon-group
      display: flex
      flex-wrap: nowrap
      width: 100%
      justify-content: flex-end
      @media #{$mobile}
        flex-wrap: wrap
        justify-content: center
      .content
        @media #{$mobile}
          width: 100%
          display: block
          text-align: center
    .icon

      @media screen and (min-width: 768px)
        margin-left: 40px
        opacity: 0
        transform: translateY(150px)
      @media #{$mobile}
        margin-bottom: 30px
      &:hover
        opacity: 0.7!important
  .title-1
    margin-right: -5px
    +trans
    opacity: 0
  .title-2
    margin-top: 30px
    +trans
    opacity: 0


.idx
  .line
    margin-bottom: 14px
    margin-right: 5px
    +trans
    opacity: 0