.idx.section-2
  @media screen and (min-width: 768px)
    margin-top: -20%
    padding-top: 60px
  @media #{$mobile}
    padding: 30px 15PX 0
  .row
    +max-width
    .col-xs-12
      padding: 0
  .line
    margin-right: 0
    margin-left: 5px
  .title-1
    margin-left: 5px
  .title-2
    margin-top: 30px
  .text-content
    @media #{$mobile}
      margin-bottom: 30px
  .content
    display: inline-flex
  .service-content
    margin-top: 60px
    display: flex
    justify-content: center
    @media #{$mobile}
      flex-wrap: wrap
      justify-content: space-around
    .content
      @media screen and (min-width: 768px)
        width: calc(100% / 6)
        margin: 0px
      @media #{$mobile}
        margin-bottom: 15px
        width: calc(100% / 2)
        padding: 0 7.5px
        justify-content: center
      .svg
        opacity: 0
        transform: translateY(100px)
        @media #{$mobile}
          height: auto!important
          padding-top: 100%
          max-width: 180px
