a
  &:hover,
  &:focus
    outline: 0
    text-decoration: none
html
  overflow-x: hidden
.langbar
  display: none

.svg
  display: inline-block
  background-size: contain!important
  background-repeat: no-repeat!important
  background-position: center!important

.text-green
  color: $color-green
.text-blue
  color: $color-blue

=bg-grey
  background: #f2f2f3
=max-width
  max-width: 1180px
  margin-left: auto
  margin-right: auto

=box-shadow
  box-shadow: 0px 7px 5px 0px rgba(#221e1f, .35)
=text-shadow
  text-shadow: 1px 1px 30px rgba(#000, 1)
=trans
  transition: $trans

=btn
  background: #f1ec4f
  border-color: #f1ec4f
  color: #231815
  font-size: 16px
  +trans
  height: 56px
  display: inline-flex
  align-items: center
  font-weight: 400
  border-radius: 0
  &:hover
    background: $color-green
    color: white
    span
      color: white

=title
  color: $color-b
  font-size: 28px
  font-weight: 400
  line-height: 40px
  text-align: center

=sub-title
  font-size: 23px
  font-weight: bold
  line-height: 2.5rem
  @media #{$mobile}
    font-size: 18px

.page
  *
    color: #444

.page,
.module-detail
  .title
    +title
    margin-bottom: 60px
    @media #{$mobile}
      margin-bottom: 30px
  p, figcaption
    font-size: 16px
    line-height: 3rem
    margin-bottom: 30px
    color: #444
    @media #{$mobile}
      margin-bottom: 15px
  >.row
    +max-width
    margin-left: auto
    margin-right: auto
  ul
    padding-left: 20px
    margin-bottom: 30px
  a
    font-size: 16px
    border-bottom: 1px solid $color-green
  small
    font-size: 16px

// .mbtn, .btn
//   +btn
//   border-color: $color-blue
//   margin-left: auto
//   margin-right: auto
//   background: $color-blue
//   color: white
//   span
//     color: white
//     +trans
//   &:hover
//     background: none
//     color: $color-blue
//     span
//       color: $color-blue

body:not(.page_mobilehome)
  // background: url(#{$url}section-4-bg.png) center center repeat-y
  // background-size: contain

.module-
  +max-width
  margin-left: auto
  margin-right: auto
  margin-bottom: 60px
  @media #{$mobile}
    margin-bottom: 30px
  .mt
    margin-bottom: 15px
    h3
      color: $color-green
      border-bottom: 1px solid #ccc
      padding: 0
      padding-bottom: 15px
      line-height: 2.5rem
      font-size: 28px
      font-weight: bold
  h5
    background: none!important
    padding-left: 0!important
    border-bottom: 1px dotted #ccc
    padding-bottom: 15px
    margin-bottom: 15px
    padding-top: 30px
    a
      font-size: 20px
      color: $color-blue

.module-title
  h4.title
    +title