.idx.section-2
  +max-width
  padding-top: 83px
  margin-bottom: 94px
  @media #{$mobile}
    padding: 30px
    padding-bottom: 0
    margin-bottom: 0px
  @media #{$pad-vertical}
    padding: 30px 15px
    margin-bottom: 0px
  @media #{$pad-horizantal}
    padding: 30px 45px
    margin-bottom: 0px
  .row
    @media screen and (min-width: 1025px)
      margin: 0 -15px
  .col-sm-6
    @media #{$mobile}
      margin-bottom: 30px
      +box-shadow
