nav.navbar.navbar.navbar.navbar
  .dropdown
    // @media screen and (min-width: 768px)
    //   position: initial
    &:hover
      @media screen and (min-width: 768px)
        .dropdown-menu
          display: block
  .dropdown-menu
    @media screen and (min-width: 768px)
      box-shadow: none
      border: 0
      background: none
      overflow: initial
      width: auto
    @media #{$mobile}
      border-top: 1px solid rgba(#4a3023, .2)
    @media #{$pad-vertical}
      width: auto
    &::before
      content: ''
      display: block
      // margin: 0 auto
      width: 30px
      height: 20px
      +tr3($color-n, $color-n, #e3ddd7, $color-n)
      border-top-width: 0
      border-bottom-width: 14px
      border-left-width: 18px
      border-right-width: 18px
      filter: drop-shadow(0px -3px 2px rgba(#594a42, .2))
      @media screen and (min-width: 768px)
        // position: absolute
        margin-left: 130px
      @media #{$mobile}
        filter: drop-shadow(0px -3px 2px rgba(#594a42, .2))
        display: none
      @media #{$pad-vertical}
        margin-left: 110px

    &.no-align-left
      left: -102px
      top: 20px
      @media #{$mobile}
        padding: 0 3.25px 15px
        padding-top: 7.5px
        padding-bottom: 7.5px
      .content
        width: auto
        padding-left: 0
        padding-right: 0
        @media screen and (min-width: 768px)
          box-shadow: 0px -3px 15px -1px rgba(#594a42, .3)
          padding-bottom: 0
        @media #{$mobile}
          padding-left: 0px
          padding-right: 0px
          // box-shadow: 0px -3px 15px -1px rgba(#594a42, .3)
          // padding-bottom: 15px

        .box
          padding: 15px 30px
          @media screen and (min-width: 768px)
            display: flex
            flex-wrap: nowrap
          @media #{$mobile}
            padding-top: 0
            padding-bottom: 0
            padding: 0 7.5px
          @media #{$pad-vertical}
            display: flex
            flex-wrap: nowrap
          .styled
            display: block!important
            padding-left: 0
          .img
            @media screen and (min-width: 768px)
              min-width: 224px
              height: 112px
              display: flex
              justify-content: flex-end
              float: left
            @media #{$pad-vertical}
              min-width: 224px
              height: 112px
              display: flex
              justify-content: flex-end
              float: left
              // padding-left: 30px
            @media #{$pad-vertical}
              padding-left: 0
            img
              @media screen and (min-width: 768px)
                // width: 100%
                height: 112px
                width: auto
          .list-inline
            display: flex
            @media screen and (min-width: 768px)
              flex-wrap: nowrap
              width: auto
              margin-left: 0
            @media #{$mobile}
              flex-wrap: wrap
              margin: 0
            @media #{$pad-vertical}
              flex-wrap: nowrap
            >li
              @media screen and (min-width: 768px)
                width: auto
                padding: 0
              @media #{$mobile}
                width: 100%
              @media #{$pad-vertical}
                width: 100%
              &:nth-of-type(1)
                @media screen and (min-width: 768px)
                  padding-right: 30px
              &:nth-of-type(2)
                @media screen and (min-width: 768px)
                  padding-right: 60px
            ul
              list-style: none
              padding-left: 0
              margin-bottom: 0px
              @media screen and (min-width: 768px)
                // display: inline-flex
                // flex-wrap: wrap
                // float: left
              @media #{$mobile}
                margin-bottom: 0
              @media #{$pad-vertical}
                margin-bottom: 0              
              li
                // line-height: 27px
                margin-bottom: 7px
                @media screen and (min-width: 768px)
                  width: auto
                  display: block
                @media #{$mobile}
                  margin-bottom: 7.5px
                &:last-child
                  @media screen and (min-width: 768px)
                    margin-bottom: 0
                a
                  color: #594a42
                  font-size: 14px
                  @media screen and (min-width: 768px)
                    white-space: nowrap
    .content
      display: flex
      justify-content: center
      padding: 15px
      padding-top: 0
      @media screen and (min-width: 768px)
        width: 100vw
      @media #{$mobile}
        padding: 0
      .box
        @media screen and (min-width: 768px)
          width: 100%
          border-radius: 0px
          padding: 30px
          background: #e3ddd7
          // box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5)
        @media #{$mobile}
          width: 100%
        // .list-inline
        //   display: flex
        //   @media screen and (min-width: 768px)
        //     flex-wrap: nowrap
        //   @media #{$mobile}
        //     flex-wrap: wrap
        //     margin: 0
        //   >li
        //     width: 100%
        //     padding: 0 15px
        //     position: relative
        //     @media screen and (min-width: 768px)
        //       border-right: 1px dotted #ccc
        //     @media #{$mobile}
        //       padding-right: 0
        //       padding: 15px 0px
        //       width: 100%
        //       padding-left: 15px
        //     &:last-child
        //       border: 0
        //     .sub-dropdown-toggle
        //       @media #{$mobile}
        //         content: ''
        //         display: inline-block
        //         position: absolute
        //         right: 0
        //         top: 15px
        //         border-width: 10px
        //         border-style: solid solid solid solid
        //         border-color: #db8526 transparent transparent transparent
        //         transform: rotate(90deg)
        //         +trans
        //     >a:not(.sub-dropdown-toggle)
        //       font-weight: bold
        //       font-size: 17px
        //       color: #db8526
        //       border-left: 5px solid #db8526
        //       display: block
        //       padding-bottom: 0px
        //       position: relative
        //       line-height: 20px
        //       @media screen and (min-width: 768px)
        //         padding: 0 7.5px
        //         padding-left: 7.5px
        //       @media #{$mobile}
        //         padding-left: 7.5px
        //       &::after
        //         content: ''
        //         width: 100%
        //         border-bottom: 1px dotted #ccc
        //         height: 1px
        //         display: block
        //         position: absolute
        //         bottom: -5px
        //         left: 0
        .styled
          list-style: none
          padding-left: 0
          @media screen and (min-width: 768px)
            margin-top: 7.5px
          @media #{$mobile}
            display: none
            padding-left: 15px
          li
            padding-bottom: 7.5px
            border-bottom: 1px dotted #ccc
            @media screen and (min-width: 768px)
              margin-bottom: 7.5px
              padding-left: 7.5px
              padding-right: 7.5px
            @media #{$mobile}
              padding: 7.5px 0
              padding-left: 7.5px
            a
              white-space: nowrap
              color: $nav-b
              font-size: 15px
              +trans
              &:hover
                color: #bca792
  .list-inline
    li.open
      .styled
        @media #{$mobile}
          display: block!important
      .sub-dropdown-toggle
        transform: rotate(0deg)!important