$mt: 65px
nav.navbar.navbar.navbar.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: rgba(white, .7)
  borer: 0
  box-shadow: none
  border-radius: 0
  border: 0
  +trans
  @media screen and (min-width: 768px)
    padding-top: 37px
    background-image: url(#{$url}navbar-bg.png)
    background-position: center
    background-size: 102% 100%
    background-repeat: no-repeat
  @media #{$mobile}
    background-image: url(#{$url}navbar-bg.png)
    padding-top: 7.5px
    padding-bottom: 0px
  @media #{$pad-horizantal}
    padding: 0 15px
    padding-top: 15px
  @media #{$pad-vertical}
    padding: 0 15px
    padding-top: 15px
  .navbar-brand
    padding: 0
    margin: 0
    font-size: 0
    line-height: 0
    +trans
    // @media screen and (min-width: 768px)
    //   position: absolute
    //   left: 50px
    //   top: 40px
    //   z-index: 5
    @media #{$mobile}
      margin-left: 15px
      margin-top: 7.5px
  .navbar-toggle
    border: 0
    background: none
    border-radius: 0
    margin-top: 10px
    margin-right: 5px
    .sr-only
      display: none
    .icon-bar
      width: 75%
      background: #4a3023
      margin-top: 7.5px
      +trans
    &:not(.collapsed)
      .icon-bar
        &:nth-of-type(2)
          opacity: 0
        &:nth-of-type(3)
          transform: rotate(45deg) translate(0, 0)
        &:nth-of-type(4)
          transform: rotate(-45deg) translate(6px, -7px)
  .container-fluid
    @media screen and (min-width: 768px)
      +max-width
    @media #{$mobile}
      padding: 0
  .navbar-header
    @media #{$mobile}
      margin: 0
      padding-bottom: 15px
    .member
      display: inline-flex
      flex-wrap: nowrap
      position: absolute
      right: 70px
      top: 20px
      @media screen and (min-width: 768px)
        position: absolute
        right: 0  
        margin-right: 0
        bottom: 25px
      @media #{$mobile}
        margin-top: 3.5px
        padding-bottom: 15px
      @media #{$pad-vertical}
        display: none
      .svg
        margin: 0 7.5px
        min-width: 19px
        min-height: 19px
        +trans
        &:hover
          opacity: 0.3
        &:first-child
          @media #{$mobile}
            margin-left: 0
        &:last-child
          margin-right: 0
  #navbar
    @media #{$mobile}
      max-height: calc(100vh - 57px - 37px)
      // overflow: auto
      // overflow-x: hidden
      margin: 0
      overscroll-behavior: contain
      background: #e3ddd7
      // padding: 0 30px
    a.dropdown-toggle
      @media screen and (min-width: 768px)
        display: none
      @media #{$mobile}
        position: absolute
        right: 0
        top: 0px
      &::after
        @media #{$mobile}
          content: ''
          display: inline-block
          border-width: 7.5px
          border-style: solid solid solid solid
          border-color: #594a42 transparent transparent transparent
          transform: rotate(90deg)
          transform-origin: 50% 50%
          +trans
    .open
      .dropdown-toggle
        &::after
          @media #{$mobile}
            transform: rotate(0deg) translate(0px, 7.5px)
    .navbar-nav
      +trans
      @media screen and (min-width: 768px)
        // display: flex
        // justify-content: center
        // margin-right: 0
        // width: 100%
        // position: absolute
        // margin-top: 0px
        position: relative
        left: 15px
        margin-top: 12px
      >li
        margin: 0 15px
        @media #{$mobile}
          margin-left: 0
          margin-right: 0
          margin-bottom: 15px
          border-bottom: 1px solid rgba(#4a3023, .2)
        @media #{$pad-vertical}
          margin: 0 12.5px
        &:hover
          >a:not(.dropdown-toggle)
            @media screen and (min-width: 768px)
              border-bottom: 0
        &.member
          display: inline-flex
          flex-wrap: nowrap
          @media screen and (min-width: 768px)
            position: absolute
            right: 0  
            margin-right: 0
            bottom: 25px
          .svg
            margin: 0 12.5px
            min-width: 19px
            min-height: 19px
            +trans
            &:hover
              opacity: 0.3
            &:last-child
              margin-right: 0
        >a
          border-bottom: 0
          text-transform: initial
          @media screen and (min-width: 768px)
            padding-top: 0
            margin: 0
            padding-left: 0
            padding-right: 0
            margin: 0 15px
            padding-bottom: 20px
          @media #{$mobile}
            margin: 0
            padding-left: 0
            padding-right: 0
          @media #{$pad-vertical}
            margin: 0
          span
            display: block
            text-align: center
            @media #{$mobile}
              text-align: left
            &.tw
              color: #594a42
              font-size: 15px
              font-weight: 400
              letter-spacing: 0.1rem
              @media #{$mobile}
                font-size: 17px
              @media #{$pad-vertical}
                font-size: 14px
            &.en
              color: #929497
              text-transform: initial
              margin-top: 0px
              font-size: 15px
  &.scroll
    background-color: #ded1c6
    background-image: none
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25)
    padding-top: 20px
    @media #{$mobile}
      padding-top: 7.5px
    // #navbar .navbar-nav
      // @media screen and (min-width: 768px)
      //   margin-top: 50px
    // .navbar-brand
    //   @media screen and (min-width: 768px)
    //     top: 30px
    // .fit-content.media
    //   @media screen and (min-width: 768px)
    //     margin-top: 3.5px
    //     margin-bottom: 3.5px