extends ../template/layout.pug

block content
	include ./服務據點/服務據點.html
	
	//- body
	//- 	include ../custom_module/navbar3.pug

	//- 	include ../custom_module/section-1.pug
	//- 	include ../custom_module/section-2.pug
	//- 	//- include ../custom_module/section-3.pug
	//- 	//- include ../custom_module/section-4.pug
	//- 	include ../custom_module/footer.pug
	//- 	include ../custom_module/gotop.pug