- var url = '/ezfiles/835/1835/img/1180/'

.banner.container-fluid.page-banner
	.row
		.col-xs-12.img
			| ===MODULE===
		.col-xs-12.text
			.content

.banner.container-fluid.prod-banner
	.row
		.col-sm-6.col-sm-push-6.col-xs-12.img
			| ===MODULE===
		.col-sm-6.col-sm-pull-6.col-xs-12.img
			img.img-responsive(src=url + "product-1.jpg", alt="")