- var url = '/ezfiles/825/1825/img/1028/'

.page.container-fluid.brand-banner
  .row
    .col-xs-12
      img.img-responsive(src=url + "banner.png", alt="")
.page.container-fluid.events-list
  .row
    .col-xs-12.module-title
      h4.title 公告資訊
      h5.sub-title -EVENTS-