- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 出版品

// 教育認證/學門認證/教學品保 簡介
.page.container-fluid.service
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"book.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 紮根理論×探索實務×精進水準×淬煉品質
        p 台評會配合大學評鑑專案之執行，廣泛蒐集世界先進國家之高等教育評鑑資料，依國別彙編成《國際高等教育評鑑制度》系列叢書，於2007～2009年間依序出版日本、英國、瑞典、加拿大、挪威、荷蘭、芬蘭、丹麥、澳洲及美國之評鑑制度，為國內第一套系統性介紹各國高等教育評鑑制度之專書。
        p 2009年出版台灣管理教育之父──許士軍教授所撰述之《轉型中的我國大學和管理教育》，針對大學定位、特色、評鑑與管理教育進行深入闡述。另為落實及擴散評鑑理念，台評會特邀集學者專家組成「詞彙編輯委員會」，於2015年出版《中華民國高等技職教育評鑑詞彙》。
        p 近年來，在校務研究熱潮之發展下，為促進國內各大專校院對校務研究的認識，台評會自2016年起陸續推出《從IR 1.0躍升2.0》、《IR關鍵密碼：校務運作的具體實踐》、《大學的IR》、《IR實務攻略：校務研究的應用策略藍圖》等校務專業管理相關書籍。
        p 此外，台評會並於2013年與財團法人高等教育評鑑中心基金會、中華工程教育學會簽署合作備忘錄，自2014年起合作發行《評鑑雙月刊》，使之擴大轉型為國內高等教育評鑑與認證機構共同發聲的平台。
