- var url = '/ezfiles/772/1772/img/264/'

p.title.service 
  | 《IR實務攻略》——校務研究的應用策略藍圖
  small 校務專業管理叢書系列04
p.img
  img.img-responsive.center-block(src=url + "book-new.png", alt="")
p 臺灣高教體系所面臨的問題與挑戰愈來愈複雜且多元，為了應對這詭譎多變的大環境，校務研究（Institutional Research, IR）成了大學校院勢在必行的處方，我們看到書中八所學校積極投入IR領域，找尋因應環境變動的解決方案。
p 本書集結了元培醫事科技大學、致理科技大學、高雄醫學大學、虎尾科技大學、東華大學、勤益科技大學、臺北科技大學及實踐大學等八所學校。
p 藉由本書的出版，台評會希冀能提供各大專校院在發展IR同時，瞭解他校對於IR所做的努力，建構出適合自己的校務研究運作模式，並且走向一個更具競爭力的未來。
p
  | 出版日期：2019年1月
  br
  | 定價：300元
  br
  | 出版者：社團法人台灣評鑑協會
