- var url = '/ezfiles/835/1835/img/1180/'

.news-detail
  .row
    .col-xs-12.title-content
      h4 2020AW New Arrival 秋冬新品上市
        date 2020-11-04
    .col-md-6.col-sm-12.col-xs-12.img
      img.img-responsive(src=url + "aboutus-1.jpg", data-aos="fade-right", data-aos-duration="1000" alt="")
    .col-md-6.col-sm-12.col-xs-12.text
      .content
        p(data-aos="fade-left" data-aos-duration="1000")
          | AMAZONES MUSE
          br
          | 現代的騎士精神，馳騁自由的靈魂
        p(data-aos="fade-left" data-aos-duration="1000")
          | 高尚的情操與美德是它的夢想境界，擁有它使人變得高貴，努力在各方面都得到提升，
          br
          | 風格化身完美的單品，強調美感的創造與欣賞沒有單一，在行走間勇敢，更加具有騎士風範，讓你在社會中勇於面對各種挑戰，任何場合都能贏得勝利。
        p(data-aos="fade-left" data-aos-duration="1000") 2020秋冬，borsalini將騎士靈魂注入其中，極具傳奇完美混合了當代新時尚。