- var url = '/ezfiles/835/1835/img/1180/'

#modal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal") &times;
        h4.modal-title
      .modal-body
        .row

.prod-info
  h4.title 率真風尚編織把兩用包
  p
    | 輕盈的尼龍材質搭上質感牛皮
    br
    | 為簡約包款增加一絲巧思
  hr
  p
    | 商品編號 : BS20FIBRDT041
    br
    | 材質 : 牛皮
    br
    | 顏色 : 紅/黑
    br
    | NT$ 16,800