- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 大事紀

.page.container-fluid.history
  .row
    .col-xs-12
      ul
        li
          span.date 2003
          .content
            p 經內政部核准成立
        li
          span.date 2004
          .content
            p 首次承辦教育部委託全國性大學校務評鑑計畫
        li
          span.date 2007
          .content
            p 首度出版《國際高等教育評鑑制度》系列叢書
        li
          span.date 2008
          .content
            p 辦理首次國際參訪考察活動
        li
          span.date 2009
          .content
            p 通過ISO 9001:2008認證
            p 首次承辦交通部觀光局委託星級旅館評鑑計畫
        li
          span.date 2010
          .content
            p 獲教育部認可為【國內專業評鑑機構】
        li
          span.date 2011
          .content
            p 加入「高等教育品質保證國際網絡」（INQAAHE）及「亞太品質保證網絡」（APQN）國際組織成為會員
        li
          span.date 2012
          .content
            p 加入美國「CHEA國際品質保證群組」（CIQG）成為會員
        li
          span.date 2013
          .content
            p 與泰國國家教育標準與品質評估局（ONESQA）、日本公益財團法人大學基準協會（JUAA）、俄羅斯高等教育品質保證及職業發展局（AKKORK）、紐西蘭大學學術品質局（AQA）簽署合作備忘錄
            p 辦理第9屆APQN年會暨國際研討會
            p 與財團法人高等教育評鑑中心基金會、中華工程教育學會簽署合作備忘錄，自2014年起合作發行《評鑑雙月刊》
        li
          span.date 2014
          .content
            p 榮獲APQN最佳國際合作品保機構的殊榮
            p 與中國大陸福建省教育評估中心簽署合作備忘錄
            p 首次承辦衛生福利部委託產後護理機構及一般護理之家評鑑計畫
        li
          span.date 2015
          .content
            p 應邀參加泰國ONESQA品質保證國際研討會，榮獲品保發展貢獻獎的肯定
        li
          span.date 2016
          .content
            p 啟動「台灣校務專業管理資訊整合先導計畫」，嗣後於2019年更名為「台灣校務精進協作計畫」
            p 首度出版《IR校務專業管理》系列叢書
        li
          span.date 2017
          .content
            p 辦理首次澳門高等教育輔助辦公室「院校素質核證」先導計畫，並前往澳門城市大學進行實地評鑑
            p 推動首次跨校性大專新生學習適應調查活動
            p 與克羅埃西亞科學暨高等教育局（ASHE）簽署合作備忘錄
        li
          span.date 2018
          .content
            p 與日本JUAA、泰國ONESQA合作辦理首次機構人員交流研習活動
            p 推動首次台泰日大專生學習成效與滿意度調查活動
            p 啟動「台日國際聯合認證計畫」及「台泰國際聯合認證計畫」
            p 與國際工商管理認證基金會（FIBAA）簽署合作備忘錄，並合作推動「台德國際聯合認證計畫」
        li
          span.date 2019
          .content
            p 辦理首次「iJAS台日國際聯合認證計畫」實地評鑑
            p 通過ISO 9001:2015品質管理系統驗證