- var url = '/ezfiles/825/1825/img/1028/'

.page.container-fluid.video
  .row
    .col-xs-12.module-title
      h4.title 影音專欄
      h5.sub-title -VIDEO-
    .col-xs-12.content
      .row
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 台灣獨家專利！骰子貓給貓咪最好的。
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 1、2、３！猋飼料迷你包三十元帶著走。
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 台灣獨家專利！骰子貓給貓咪最好的。
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 1、2、３！猋飼料迷你包三十元帶著走。
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 台灣獨家專利！骰子貓給貓咪最好的。
        .col-sm-6.col-xs-12
          .content
            .embed-responsive.embed-responsive-4by3
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/o7Nk1HbiEMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            figcaption 1、2、３！猋飼料迷你包三十元帶著走。