- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.service(style="background:url("+url+"contact-bg.jpg);")
  .row
    .col-md-12.col-sm-12.col-xs-12.title-content
      ul.nav.nav-tabs.list-inline
        li.active
          a(href="#service-1" data-toggle="tab") 著作權聲明
        li
          a(href="#service-2" data-toggle="tab") 隱私權政策
    .col-md-12.col-sm-12.col-xs-12.text
      .tab-content
        #service-1.tab-pane.fade.in.active
          h4.title 著作權聲明
          p 本網站上刊載之所有內容為borsalini所有，均受中華民國著作權法及國際著作權法保護，對於本網站上之資訊，用戶使用時須遵守著作權法相關規定。
          p 本網站展示的商標、商號、圖示和服務標記為采盟股份有限公司所有，未經采盟股份有限公司或擁有者書面允許不得使用。
          p 本網站資料受版權保護。您取覽這些資料僅限於您個人使用的目的。未經我們事先書面同意，不得將任何這些資料作商業或公共目的更改、複製、
          p 在檢索系統存儲、傳輸、備份、傳播或以任何其他方式使用。
        #service-2.tab-pane.fade.new-page
          h4.title 隱私權政策
          p
            | 為了支持個人資料保護，維護個人隱私權，采盟股份有限公司 borsalini（以下簡稱本公司）謹以下列聲明，向您說明本公司蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項。
          .content
            p.title 壹、 蒐集個人資料之相關特定目的
            p 依據法務部頒佈「個人資料保護法之特定目的及個人資料之類別」及本公司蒐集台端個人資料之特定目的如下：
            ul(style="list-style: none;")
              li ◎非公務機關依法定義務所進行個人資料之蒐集處理及利用
              li ◎契約、類似契約或其他法律關係事務
              li ◎消費者、客戶管理與服務
              li ◎消費者保護
              li ◎教育或訓練行政
              li ◎場所進出安全管理
              li ◎網路購物及其他電子商務服務
              li ◎廣告或商業行為管理
              li ◎調查、統計與研究分析
              li ◎其他公務機關對目的事業之監督管理
              li ◎其他自然人基於正當性目的所進行個人資料之蒐集處理及利用
              li ◎其他經營合於營業登記項目或組織章程所定之業務
          .content
            p.title 貳、 隱私權政策適用範圍
            p 本隱私權保護政策，適用在您使用采盟股份有限公司（以下簡稱本公司）及其關係企業網站各項服務時，涉及之個人資料蒐集、處理、利用及保護之相關作法。
          .content
            p.title 參、 采盟的隱私權政策原則
            p 本公司的業務係以客戶與本公司之間的互信為基礎，本公司對於您所提供的一切資料均會予以嚴加保密。為此，本公司貫徹以下隱私權政策原則：
            ol.list-cn
              li 本公司只會蒐集本公司認為相關且必要的個人資料，以利本公司業務之營運。
              li 本公司會運用您的個人資料，以向您提供更好的客戶服務。
              li 除非已經取得您的同意、或按法令規定進行、或事前已向您通知，本公司不會向任何外界機透露您的個人資料。
              li 本公司可能被要求向政府部門、或其他本公司的監管機構透露您的個人資料，然而本公司只會在這些機構依法有適當權限之情形下進行。
              li 本公司致力為您保持準確而最新的個人資料記錄。
              li 本公司實行嚴格的安全系統，以防止任何人（包括本公司職員）未經授權而取得您的個人資料。
              li 本公司明確規定所有獲准使用台端個人資料的本公司職員及第三方，均須遵守本公司的保密責任。
              li 本公司奉行上述原則，以表現本公司極為重視您對本公司的信任。
          .content
            p.title 肆、 資料安全
            ol.list-cn
              li 本公司以安全為重且一貫致力確保您的個人資料受安全保護，不會未經授權或意外地被他人取得、處理或清除。為致力保障資料的安全，本公司在設施、電子系統及管理方面實施適當措施，以保障您的個人資料安全。
              li 本網站採用業界在網際網路上為資料作加密保護的標準Secure Socket Layer (SSL)協定和128位元加密技術來保護您的個人資料。當您將重要的資料，例如您的個人資料提供予本公司時，這些資料將被自動轉為代碼，然後才經網際網路安全地傳送。
              li 本網站的伺服器設有「防火牆」作保護，且本公司不斷監督本身的系統，以防遭任何人士未經授權地進入。本公司將採取一切實際可行步驟，確保不會保留客戶的個人資料超過必需的時間，而本公司亦會遵守中華民國一切有關保存個人身份資料的法令規定。
          .content
            p.title 伍、 自我保護措施
            ol.list-cn
              li 在防止網上詐騙行為方面，您與采盟負有同等重要責任。您應確保本身的個人資料不會外洩，例如您的使用者名稱、電子郵件或其他交易相關資料等，尤須確保不會有意或無意地與未經授權人士共用、交予其使用或允許其使用此等資料。切勿讓他人在未經您許可之下知道您的私人資料。本公司會盡力維持高度安全標準，以保障您的利益。
              li 您的私人資料乃您所獨有，您應嚴守機密。如果您認為本身私人資料已向第三方洩露、遺失或被盜，而且可能已被未經授權的使用，您有責任立即通知本公司。
          .content
            p.title 陸、 蒐集個人資料
            ol.list-cn
              li 
                | "cookie"的應用
                br
                | 您瀏覽本網站時，網站會作記錄，以分析網站的訪客人數和一般使用狀況。其中部分資料將透過   cookie方式蒐集。cookie是載有小量資料的檔案，自動儲存於訪客本身電腦所安裝的網際網路瀏覽器，可供本網站日後檢索。大部分cookie的有效性只持續一定期間或只限單次造訪。cookie並不含任何資料足使他人透過電話、電子郵件或其他方式與您聯絡，而且您可以經由瀏覽器的設定，自行取消、或限制此項功能。
              li
                | 市場推廣
                br
                | 本公司偶爾會從本網站的訪客或參與（網上、電話或在facebook粉絲專頁進行）比賽或推廣活動的人員蒐集個人資料。本公司蒐集此些個人資料，乃為受訪者自願提供，本公司可能運用此些資料向受訪者發送本公司認為切合其需要的產品、服務及其他市場推廣資訊。本公司亦會邀請本網站的訪客參與市場調查、意見調查及其他類您可選擇以電子郵件方式收取市場推廣及其他宣傳資訊。如您不想再收到電子郵件或行銷信函等的宣傳資訊，亦可隨時選擇不再收取此等資訊。
                br
                | 如果您希望本公司不再寄送給您行銷信函，請致電本公司客戶服務專線02-87738800 或發信至borsalini@tasameng.com.tw與本公司客戶服務專員聯絡。本公司會即時受理您的指示(但本公司收到您指示前已進行處理之資料不在此限)，不收取任何費用，以確保日後的行銷信函等宣傳資料不會再發送給您。 每當本公司要求您提供個人資料時，本公司均會說明蒐集此些資料的用途，並確保只會將資料用於蒐集時說明的用途。
          .content
            p.title 柒、 本公司的資料蒐集聲明
            p 采盟股份有限公司（以下稱本公司）為：
            ol.list-cn
              li 處理您與本公司之往來，並提供適當之產品與服務資訊
              li 本公司於依第一條說明所示之目的或其營業登記項目或章程所定業務或其他法令所准許之各項目的(包括但不限於自行或共同行銷、統計調查分析、內部控制、管理及稽核等目的)
              li
                | 提供予如下列第三條所示之利用對象合於其營業登記項目、章程或法令允許之目的，本公司得蒐集、處理、利用、國際傳輸台端之相關個人資料(詳如第二條之說明)，並依據個人資料保護（以下稱個資法）之規定，向您告知下列事項，請您詳閱：
                ol
                  li 蒐集個人資料之特定目的： 依據法務部頒佈「個人資料保護法之特定目的及個人資料之類別」，您的個人資料蒐集之特定目的請詳附錄一。
                  li 
                    | 蒐集個人資料之類別： 以本公司與您往來之相關業務所實際蒐集之個人資料為準。本公司係依據不同業務之需求，蒐集您之個人資料，其類別依據法務部頒佈之「個人資料保護法之特定目的及個人資料之類別」共五類說明如下：
                    ul
                      li 識別類C001至C003(如姓名、電話、銀行帳戶或信用卡之號碼、身分證統一編號等)
                      li 特徵類C011至C013(如性別、出生年月日等)
                      li 家庭情形C021至C024(如結婚有無、配偶之姓名等)
                      li 社會情況C031至C041(如住所地址、財產資料、居留證明文件等)
                      li 其他各類資訊C131至C132(如無法歸類之電子郵件等)
              li 個人資料利用之期間、地區、對象及方式：
                table
                  tr
                    td(style="vertical-align: top; white-space: nowrap;") 1. 期間：
                    td 個人資料蒐集之特定目的存續期間、依相關法令或契約約定資料之保存所訂保存年限（如：野生動物保育法、免稅商店設置管理辦法、離島免稅購物商店設置管理辦法、商業會計法等）或本公司之保存期間(較法規規定期間長者)。
                  tr
                    td(style="vertical-align: top; white-space: nowrap;") 2. 地區：
                    td 中華民國(含台澎金馬等地區)。
                  tr
                    td(style="vertical-align: top; white-space: nowrap;") 3. 對象：
                    td 本公司、受委外之機構或與本公司具有合作、委任等關係之第三人（包括但不限於受託辦理市場調查之機構）、未受中央目的事業主管機關限制之國際傳輸個人資料之接收者、本公司之共同行銷或合作推廣對象、其他與本公司有業務或交易往來之機構、依法有權機關、及其他對本公司有管轄權之主管機關、司法或其他政府機構。
                  tr
                    td(style="vertical-align: top; white-space: nowrap;") 4. 方式：
                    td 以自動化機器或其他非自動化之利用方式。
              li 依據個資法第三條規定，台端就本公司保有台端之個人資料得行使下列權利：
                ol
                  li 得向本公司查詢、請求閱覽或請求製給複製本，而本公司依法得酌收必要成本費用。
                  li 得向本公司請求補充或更正，惟依法您應為適當之釋明。
                  li 得向本公司請求停止蒐集、處理或利用及請求刪除，惟依法本公司因執行業務所必須者，得不依您之請求為之。
                | 若您擬行使上述權利，可透過本公司客戶服務中心、諮詢服務台提出請求，本公司將依您之請求辦理後續相關事宜。
              li 您得自由選擇是否提供相關個人資料： 您得自由選擇是否提供相關個人資料，惟您若拒絕提供相關個人資料，本公司將無法進行必要之審核及處理作業，致無法提供相關服務，本公司得拒絕您的相關服務之申請或辦理。
              li 您同意本公司有權修訂本告知事項，並同意本公司於修訂後，得以言詞、書面、電話、簡訊、電子郵件、傳真、電子文件、分行及網站公告或其他足以使您知悉或可得知悉之方式(包括但不限於以前述方式告知提供詳載本告知事項內容之網站連結)，告知您修訂要點及指定網頁，屆時，請您詳閱指定網頁內容。
              li 如您與本公司先前簽訂之契約或文件所定與個人資料之蒐集、處理、利用、國際傳輸有關條款與本告知事項有所歧異者，以本告知事項為準。
          .content
            p.title 捌、 隱私權與安全性政策之諮詢與救濟
            p 如果您對於上述該行使隱私權與安全性政策有任何疑問及意見，或本公司之各相關業務單位有違反本政策之行為時，歡迎來信至本公司專屬電子郵件信箱檢舉。 電子信箱：
              a(href="mailto: borsalini@tasameng.com.tw") borsalini@tasameng.com.tw
            p
              span(style="background: #bca792;") 免責聲明
            p 當您於《borsalini 官方網站》（
              a(href="https://borsalini.com.tw") https://borsalini.com.tw
              | ，以下簡稱「本網站」）進行網路訂購商品時，您已明確瞭解並同意下列情況發生本網站毋需負擔任何責任：
              ol(style="list-style: none;")
                li(style="font-weight: bold;") 壹、 本網站就各項服務不負任何明示或默示之擔保責任。對於各項服務之穩定性、安全性、正確性、及連線不中斷等，本網站亦不負擔保之責，您同意自行承擔使用可能導致之風險及損害，包括但不限於自本網站下載資料或圖片等資料致生任何資源流失之結果。
                li(style="font-weight: bold;")
                  | 貳、 本網站有權於下列情形之一發生時，停止、中斷本服務之提供，對於您因此所受之損害，本網站概不負責：
                  ol.list-cn(style="font-weight: normal;")
                    li 本網站進行必要之電子通信設備保養與施工。
                    li 本網站發生突發性之電子通信設備故障。
                    li 其他不可抗力之因素而令本網站修護、保養電子通信設備之必要者。
                li(style="font-weight: bold;") 參、 您若有個人資料遭他人盜用、不當使用帳戶或其他致使本網站無法辯識是否為本人親自使用之情況時，本網站對此所致之損害，概不負責。
                li(style="font-weight: bold;") 肆、 本網站對於任一用戶所填寫之物件資訊、個人資料等行為，不負任何內容真實性或完整性之保證責任。若進而以此不實資訊侵害他人權益或為欺騙、敲詐之行為者，本網站對此衍生之一切爭議亦概不負責。
                li(style="font-weight: bold;") 伍、 本網站對於使用者張貼或私下傳送之資訊、文字、圖檔、音訊、照片或其他資料不負任何責任，若有涉及侵害他人智慧財產權等情事者，本網站得逕行刪除該等內容，無須另行通知。
                li(style="font-weight: bold;") 陸、 若使用者張貼或私自傳訊之內容有令您感到厭惡、不悅者，純屬該使用者之個人行為，本網站對此不負任何責任。
                li(style="font-weight: bold;") 柒、 任何由於電腦病毒侵入、因政府管制而造成之暫時性關閉或其他不可抗力因素等造成之資料毀損、洩漏、遺失、被盜用或被竄改等皆與本網站無涉。