- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 校務研究

.page.container-fluid.research
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"research.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 智慧運籌×創新加值×引領突破×效益加乘
        p 近來大數據（Big Data）引起產業界、科技界的廣泛關注，台灣高等教育在國際競爭、少子女化衝擊、全球化趨勢等挑戰下，激勵了學校使用大數據或實證資訊進行校務專業管理的想法，同時也帶動台灣大專校院校務研究（Institutional Research）的風潮。
        p 台評會累積多年業務關係與經驗，對眾多公開性資訊之來源與意涵有相當瞭解，因此，於2016年率先啟動「台灣校務專業管理資訊整合先導計畫」（2019年更名為「台灣校務精進協作計畫」，簡稱TIRC），藉由既有公開資訊管道，有效蒐集政府部會及其他機構之公開資訊，進行資料倉儲及數據分析，提出具有廣度及深度的關鍵數據與分析報告，以協助學校在短時間內掌握各項數據所代表的意涵，進而發揮優勢應對挑戰。
        p 為擴大校務研究之實施效益，TIRC計畫於2017年開發問卷調查平台，並推動全國大專新生學習適應、台泰日大專生學習成效與滿意度等調查活動，協助各校完成校務研究的最後一塊拼圖。