- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 現況與發展

.page.container-fluid.international.section-1
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"international-1.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 蓄積合作能量‧開拓發展契機
        p 台評會一直戮力於開拓國際交流機會，創造國際合作對象與能量，積極為國際盟友創造新的合作契機。
        p 每年皆接待來自國際的品保組織、高等教育機構、學校等團體，交流版圖横跨世界各地，迄今先後與台評會簽署合作備忘錄的組織包括：泰國國家教育標準與品質評估局（ONESQA）、日本公益財團法人大學基準協會（JUAA）、俄羅斯高等教育品質保證及職業發展局（AKKORK）、紐西蘭大學學術品質局（AQA）、中國大陸福建省教育評估中心、克羅埃西亞科學暨高等教育局（ASHE）、國際工商管理認證基金會（FIBAA）等單位。
.page.container-fluid.international.section-2
  .row
    .col-sm-5.col-sm-push-7.col-xs-12.img
      img.img-responsive(src=url+"international-2.jpg", alt="")
    .col-sm-7.col-sm-pull-5.col-xs-12.text
      .content
        h5.sub-title 開創實質合作‧建立宏觀視野
        p 台評會自2011年加入「高等教育品質保證國際網絡」（INQAAHE）及「亞太品質保證網絡」（APQN）後，即積極與國際評鑑機構建立實質合作關係，除多次受邀至國際會議發表相關文章及參與國外教育機構之外部評鑑，並邀請國際評鑑專家來台參與實地評鑑及委員訓練課程，分享實務經驗。
        p 2017年，台評會與日本公益財團法人大學基準協會（JUAA）及泰國國家教育標準與品質評估局（ONESQA）合作推動「機構與機構間」的人員交流，並於2018年起規劃執行一系列的跨國研習活動，在台灣、日本與泰國等地輪流舉辦，除進行主題式研討外，並針對實質的研討內容持續交換意見。
        p 「他山之石，可以攻玉」，藉由國際交流與合作之互動溝通，有助於汲取國際上評鑑相關機構之寶貴經驗，充實各項評鑑專案之執行成果，進而回饋於社會。

.page.container-fluid.international.section-3
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"international-3.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 推動國際交流‧激發創新動力
        p 為持續推升國際能見度及開拓交流機會，台評會自2008年起即陸續舉辦「美國高等教育教學品質」、「美國高等教育教學與學習績效」、「美國高等教育教學品質與學生學習績效」等海外參訪活動，參與者均為國內各大專校院之校長、副校長及一級行政主管，藉由參訪團之安排，前往國外各大學團體、評鑑機構拜會，協助國內教育主管進行國際經驗交流，瞭解不同特色之高等教育學府的辦學經驗及理念，參訪成果咸獲肯定。
        p 近年來，為拓展國內各大專校院與鄰近先進國家之交流機會，台評會持續辦理國際參訪考察活動，於2016年起分別赴日本東京、關西等地區之著名大學進行考察及交流，以借鏡國外大學經營管理經驗，協助國內大專校院推動相關研究發展與合作交流。
.page.container-fluid.international.section-2
  .row
    .col-sm-5.col-sm-push-7.col-xs-12.img
      img.img-responsive(src=url+"international-4.jpg", alt="")
    .col-sm-7.col-sm-pull-5.col-xs-12.text
      .content
        h5.sub-title 深耕核心定位‧促進跨域發展
        p 因應教育部「推動高等教育國際化」及「高等教育深耕計畫」全面提升大學品質、強化國際競爭力之政策，台評會特與國際上之專業評鑑機構合作辦理「國際聯合認證」計畫，以促使學校精進成長並與國際品保制度接軌，藉此協助學校打開國際市場的捷徑，共同邁向國際化之藍海策略。
        p 「國際聯合認證」係針對台灣及相關合作機構當地的大專校院，特別是以國際化為發展目標的學校為對象，由台評會與相關合作機構共同進行評鑑及認證，以協助學校發展及推動國際化為目的。
        p 現階段台評會分別與日本公益財團法人大學基準協會（JUAA）、泰國國家教育標準與品質評估局（ONESQA）及國際工商管理認證基金會（FIBAA）合作推動台日、台泰、台德國際聯合認證計畫。其中「台日國際聯合認證計畫」已於2018年正式啟動，首波台、日各有一所學校參與，並於2019年上半年由雙方委員共同進行實地評鑑工作。
