- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 理監事名單

// 次標題
.page.container-fluid.page-title.member-title
  .row
    .col-xs-12
      h4.title 理事長
      h5.sub-title Chariman, TWAEA

// 簡述
.member-info
  p
    b 現職：
    | 義守大學榮譽校長

//- // 明細
//- .member-detail
//-   .row
//-     .col-sm-5.col-xs-12.img
//-       img.img-responsive.center-block(src=url+"member-1-img-", alt="")
//-     .col-sm-7.col-xs-12.text
//-       .content
//-         p.title.text-blue 傅勝利
//-         p
//-           i.fa.fa-member
//-           b 現職
//-           br
//-           | 義守大學榮譽校長
//-         p.no-margin
//-           i.fa.fa-member
//-           b 經歷
//-         ul
//-           li 1987~1989 國立成功大學 訓導長
//-           li 1989~1990 國科會工程科技推展中心 主任
//-           li 1990~1997 高雄工學院 院長
//-           li 1983 教育部研究獎
//-           li 1986 國際發明展鍍金牌獎
//-           li 1990 國科會傑出研究獎
//-           li 2003 國際表面黏著技術協會（ SMTA ）傑出領導獎
//-           li 2003 國際微電子暨封裝學會（ IMAPS ）院士
//-           li 2004 國際微電子暨封裝學會（ IMAPS ）卓越領導成就獎
//-           li 義守大學校長
//-           li 技專校院評鑑委員
//-           li 中華民國表面黏著技術協會 理事長
//-           li 中華民國管理科學學會監事
//-           li 中華民國青年友好訪問團美西團領隊
//-           li 中國電機工程學會高雄市分會理事長
//-           li 中國工程師學會理事
//-           li 中國青年救國團高雄縣團委員主任委員
//-           li 美國加州大學洛杉磯分校材料工程系訪問學者
//-           li 國際混成微電子學會中華民國分會理事長 ( 創會及第 1-3 屆 )
//-           li 斐陶斐學會、 IEEE-CHMT 、 ASM-International 會員
//-           li 國際電子電機學會會長
//-           li 國際微電子學會（ ISHM ）中華民國創會及現任會長
//-           li 國際微電子與封裝學會台灣分會（ IMAPS ）會長
// 明細
.member-detail
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive.center-block(src=url+"member-1-img-3", alt="")
    .col-sm-7.col-xs-12.text
      .content
        p.title.text-blue 林聖賢
        p
          i.fa.fa-member
          b 現職
          | 1. 國立交通大學應化系榮譽講座教授
          br
          | 2. 中央研究院院士
        p.no-margin
          i.fa.fa-member
          b 經歷
        ul
          li • Columbia University Postdoctoral Fellow （ with R. Bersohn ）（ 1964-1965 ）
          li • Arizona State University , Department of Chemistry
          li • Assistant Professor （ 1965-1968 ） 、 Associate Professor （ 1968-1972 ） 、 Professor （ 1972-1995 ） 、 Adjunct Professor （ 1995 －）
          li • Dir., Institute of Atomic and Molecular Sciences, Academia Sinica （ 1993 －）
          li • National Taiwan University , Department of Chemistry
          li • Adjunct Professor （ 1993 － ）
        br
        p • 53～54年哥倫比亞大學博士後研究員。54～57年亞歷桑那州立大學助理教授、57～61年副教授、61～83年正教授；77年被選為校董榮譽教授。73年當選中研院院士，82年起任臺灣大學教授，82～90年中研院原分所所長，82年金開英講座，83年起為中研院特聘研究員。84年獲臺美基金會科技獎，90年日本森野講座教授。