- var url = '/ezfiles/772/1772/img/264/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 組織架構

.page.container-fluid.aboutus-2.section-1
  .row
    .col-xs-12.img
      img.img-responsive.center-block(src=url+"aboutus-2-img.jpg", alt="")