- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.contact(style="background:url("+url+"contact-bg.jpg);")
  .row
    .col-md-12.col-sm-12.col-xs-12.title-content
      h4 聯絡我們
    .col-md-6.col-sm-12.col-xs-12.form
      | ===MODULE===
    .col-md-6.col-sm-12.col-xs-12.text
      .content
        p(data-aos="fade-up" data-aos-duration="1000") 若還有任何地方需我們為您提供服務，請將所需服務的內容及聯絡您的方式填寫於下表後並送出，我們會於收到後主動與您聯絡，謝謝您。
      .content
        p(data-aos="fade-up" data-aos-duration="1000") 
          | 采盟股份有限公司
          br
          | 台北市復興北路57號3樓之1
        p(data-aos="fade-up" data-aos-duration="1000")
          | 客服時間 : MON-FRI 09:30-12:00 / 13:30-18:00
          br
          | 客服電話 : 
          a(href="tel: 02-87738800") 02-87738800
          br
          | 客服信箱 : 
          a(href="mailto: borsalini.tmtw@gmail.com") borsalini.tmtw@gmail.com