- var url = '/ezfiles/772/1772/img/264/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 評鑑服務

// 教育認證/學門認證/教學品保 簡介
.page.container-fluid.service
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"service-1-img.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 教育認證/學門認證/教學品保
        p
          b 透過有效且公正客觀的專業評鑑服務，讓評鑑成為推動教育永續發展的動力。
        p 在台灣持續推動各項教育改革以確保教育品質之思維與環境下，教育評鑑的重要性日益顯著。
        p 2004年，台評會承接教育部委託辦理當時最大規模的「大學校務評鑑計畫」，總計動員364位委員，完成76所大學校院之校務及專業領域評鑑，為台灣高等教育品保制度的發展，劃下代表性的里程碑。
        p 奠基於良好的執行經驗，台評會自2005年起陸續接受教育部技術及職業教育司委託辦理科技大學、技術學院及專科學校評鑑計畫，針對校務行政及專業領域進行評鑑，為台灣技職教育之發展作嚴謹把關，督促學校重視教育環境、社會人口及產業人才需求之變遷，積極因應並自我改善，以提高整體競爭優勢。
        p 台評會於2010年獲教育部認可為【國內專業評鑑機構】，並規劃「專業學門教育認證服務計畫」，期藉由完善之認證機制與諮詢服務，協助各大專校院建立品質改善機制，並強化優勢及特色。因應教育部自2017年起停辦系所評鑑，回歸各校自行委託專業評鑑機構辦理或自辦評鑑，以助於各大專校院發展特色之政策考量，台評會特規劃「大專校院教學品保服務計畫」，協助各大專校院將品質保證與持續改善思維內化於組織文化中，進而發揮自我特色並提升辦學品質。
