p.title.service 【107至109年技專校院高等教育深耕計畫暨人才培育及研發計畫考評專案辦公室計畫】(教育部技職司）
p 專業能力及就業能力，成就每位學生，創造高教價值，以達到「適性揚才」之目的。「深耕計畫」關注每位學生的學習需求，激發學生學習動機與興趣，培養學生「Mind and Hand能力」；另ㄧ方面，因應全球競爭趨勢，各國爭相競逐產業智慧化，未來在科技高度智慧化環境下，跨領域及問題解決能力亦是未來人才培育之關鍵，透過「連結在地、接軌國際及迎向未來」為主軸，以「落實教學創新」、「提升高教公共性」、「發展學校特色」及「善盡社會責任」為目標，協助技專校院依本身優勢發展特色，以提供學生適足教育資源之基礎上，考量學校任務及定位之差異性，提供合理經費協助各校發展特色，並創造高等教育價值，帶動社會創新活力。
p 由台評會組成專案行政團隊，協助教育部有效掌握「深耕計畫」執行情形，包含技專校院之執行成效與管考作業，以達協助技專校院培育各級各類多元優質人才，並依其定位發展多元特色，進而提升國家整體競爭力，亦將協助彙整相關審查意見提供執行學校作為滾動修正高等教育深耕計畫之參考，提供教育部未來執行高等教育政策規劃之參考與建議。
