p.title.service 【科技大學評鑑】（教育部技職司）
p 教育部為促進科技大學能持續精進辦學績效、提升教育品質、發展學校特色及追求卓越，以建立競爭力。自94年起遂開始辦理科技大學評鑑，並分別就校務行政類、專業類學院及專業類系所三大項進行評鑑。台評會自94年起即接受教育部的委託進行科技大學評鑑，透過評鑑機制建立及每年辦理評鑑相關工作，提高科技大學教育品質，保障學生受教權益。並讓學校重視環境變遷、人口出生率遞減及產業界人才需求的種種改變，積極因應及持續自我改善，以提高科技大學之整體競爭優勢。
