- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.service.how-buy(style="background:url("+url+"contact-bg.jpg);")
  .row
    .col-md-12.col-sm-12.col-xs-12.title-content
      ul.nav.nav-tabs.list-inline
        li.active
          a(href="#service-1" data-toggle="tab") 線上會員
        li
          a(href="#service-2" data-toggle="tab") 購物須知
    .col-md-12.col-sm-12.col-xs-12.text
      .tab-content
        #service-1.tab-pane.fade.in.active
          .content
            p.title 會員註冊
            ul
              li ‧首次購買請先完成Email帳號註冊或使用第三方帳號直接進行登入。
              li ‧加入會員時，若有資料不實或資料錯誤等問題，由登錄者自行負責。
              li ‧依本服務註冊表之提示提供您本人正確、最新及完整的資料。
              li ‧商品訂購及配送訊息一律由Email進行通知，請正確填寫您的Email信箱。
              li ‧訂單內容務必完整填寫，若提供錯誤資訊造成貨物送達無人簽收需重複配送所產生的  費用責任需自行負擔。
          .content
            p.title VIP會員權益
            p 凡註冊為一般線上會員，於borsalini線上百貨累積消費滿20,000元，即可成為品牌線上VIP會員。
            ul
              li ‧ 線上VIP會員享正價品85折優惠，折扣期間再享95折優惠(經典商品及7折(含)以下商品恕不適用，於實體專櫃購物同享此折扣)
              li ‧ 線上VIP會員生日當月可獲得線上生日coupon $100優惠抵用卷，單筆消費滿2,000元即可使用，此卷為一次性使用，限生日當月內使用。
              li ‧ 線上VIP會員將不定期收到品牌活動訊息，並優先受邀參與品牌酬賓活動
              li ‧ 為保護彼此權益，borsalini不隨意更改活動方式，但保有修改方案之權利。
        #service-2.tab-pane.fade
          .content
            p.title 購物流程說明
            ul
              li Step1 ：選取商品加入購物車
              li Step2 ：點選右上方購物車，將所有加入購物車的商品前往結帳 
              li Step3 ：會員註冊/登入/第三方登入
              li Step4 ：選擇付款及配送方式 
              li Step5 ：填寫購買人及收件者資料
              li Step6 ：確認訂單清單內容
              li Step7 ：完成結帳
              li Step8 ：商品到貨
          .content
            p.title 注意事項 : 
            ul
              li ‧商品加入購物車但未完成結帳前並無保留商品庫存功能，商品庫存分配將以結帳順序為依據。
              li ‧調貨商品與現貨商品因配送時間不同，故僅能分別成立訂單
          .content
            p.title 付款方式
            ul
              li
                | ‧ 信用卡付款 : 
                ul
                  li 即時線上刷卡付款，選擇線上刷卡方式進行交易時，作業流程透過SSL加密機制，保障您的個人隱私資料。
              li
                | ‧ ATM付款 : 
                ul
                  li 系統產生一組專屬虛擬帳號，需於期限內轉帳，超過期限請與客服聯繫。
          .content
            p.title 配送方式
            p
              b Borsalini線上購物配送服務
          .content
            p
              b 便利商店店到店取貨服務(7-11、全家便利商店)
            ul
              li ‧ 配送運費：台灣本島$65元，台灣外島$145元
              li ‧ 配送時間：出貨後2~3日到店，商品到店後系統發送簡訊通知您取件。
              li
                | ‧ 退回時間：請於包裹送達門市當日起算7日內完成取件喔！
                br
                | 〈例如：商品於1/1送達門市，預計1/8 零時退回物流中心〉
              li ‧ 累積3次未取件/退貨紀錄，系統將列入黑名單，下次購物將無法使用7-11取貨服務。
              li ‧ 因超商門市貨品有大小材積限制，若超過材積我們將與您聯絡更改訂單配送方式及配送運費。
          .content
            p
              b 大嘴鳥宅配通服務
            ul
              li ‧ 配送運費：台灣本島$90-140元(依包裹材積大小)
              li ‧ 配送時間：出貨後隔日到您指定寄送地址。
          .content
            p
              b 退換貨說明
            ul
              li ‧	收到商品若不符所需或有瑕疵、配件短缺等情事，依據消費者保護法規定，提供商品簽收日起7天鑑賞期，鑑賞期不為試用期，還請留意保持商品全新狀態及原包裝商品的完整，我們完全保障您的購物權益。
              li ‧	退回之商品必須是全新狀態且完整包裝(包含商品本體、配件、贈品、發票、客服卡、吊牌、內外包裝及所有隨附資料等)，若退回商品缺件、包裝不完整，或已使用、洗滌、吊牌拆除等非全新狀態，恕不接受退貨之服務。
              li ‧	官網訂單僅提供退貨服務，若有更換款式或顏色需求，請申請退貨後重新下單購買。
              li ‧	若有參與行銷活動的訂單折扣商品需全單退貨。
          .content
            p
              b 退款
            p 在收到您的退貨商品後，我們將於驗收檢查，待核准退貨後，您的退款將依照您付款方式退款，並需負擔原出貨運費於退款款項內扣除，實際退款金額透過信用卡刷退或ATM轉帳退款，請於線上申請退貨時填寫退款帳戶欄位，提供購買人的退款帳號資料。
            p
              | 銀行：
              br
              | 銀行分行：
              br
              | 帳 號：
              br
              | 戶 名： (須與訂購人姓名相同)
            p 當退款完成時，我們會發送退款完成通知信通知您。