- var url = '/ezfiles/835/1835/img/1180/'

.page.container-fluid.store
  .row
    .col-xs-12.link
      ul.nav.nav-tabs.list-inline
        li.active
          a(href="#north" data-toggle="tab") 北部
        li
          a(href="#middle" data-toggle="tab") 中部
        li
          a(href="#south" data-toggle="tab") 南部
        li
          a(href="#classic" data-toggle="tab") 免稅旗艦店
  .tab-content
    #north.tab-pane.fade.in.active
      .row
        .col-xs-12.title
          h4 北部
        .wrapper
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 遠東百貨信義A13 B2F
              p
                i.fa.fa-phone
                a(href="tel: 02-27252699") 02-27252699
              p
                i.fa.fa-map-marker
                | 台北市信義區松仁路58號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 太平洋SOGO忠孝店 3F
              p
                i.fa.fa-phone
                a(href="tel: 02-27781869") 02-27781869
              p
                i.fa.fa-map-marker
                | 台北市大安區忠孝東路四段45號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 新光三越信義A8館 2F
              p
                i.fa.fa-phone
                a(href="tel: 02-27236989") 02-27236989
              p
                i.fa.fa-map-marker
                | 台北市信義區松高路12號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 遠東百貨板橋中山店 2F
              p
                i.fa.fa-phone
                a(href="tel: 02-89642570") 02-89642570
              p
                i.fa.fa-map-marker
                | 新北市板橋區中山路一段152號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 遠東百貨板橋中本店 3F
              p
                i.fa.fa-phone
                a(href="tel: 02-89517696") 02-89517696
              p
                i.fa.fa-map-marker
                | 新北市板橋區新站路28號
    #middle.tab-pane.fade
      .row
        .col-xs-12.title
          h4 中部
        .wrapper
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 新光三越台中店 4F
              p
                i.fa.fa-phone
                a(href="tel: 04-22581731") 04-22581731
              p
                i.fa.fa-map-marker
                | 台中市西屯區台灣大道三段301號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 台中中友百貨B棟  2F
              p
                i.fa.fa-phone
                a(href="tel: 04-22258146") 04-22258146
              p
                i.fa.fa-map-marker
                | 台中市北區三民路三段161號
    #south.tab-pane.fade
      .row
        .col-xs-12.title
          h4 南部
        .wrapper
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 新光三越台南新天地 2F
              p
                i.fa.fa-phone
                a(href="tel: 06-3031003") 06-3031003
              p
                i.fa.fa-map-marker
                | 台南市中西區西門路一段658號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 台南市中西區西門路一段658號
              p
                i.fa.fa-phone
                a(href="tel: 07-3419368") 07-3419368
              p
                i.fa.fa-map-marker
                | 高雄市左營區高鐵路123號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 遠東百貨高雄店 2F
              p
                i.fa.fa-phone
                a(href="tel: 07-5352999") 07-5352999
              p
                i.fa.fa-map-marker
                | 高雄市苓雅區三多四路21號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 夢時代購物中心 1F
              p
                i.fa.fa-phone
                a(href="tel: 07-8125229") 07-8125229
              p
                i.fa.fa-map-marker
                | 高雄市前鎮區中華五路789號
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 義大世界廣場C區LB
              p
                i.fa.fa-phone
                a(href="tel: 07-6569288") 07-6569288
              p
                i.fa.fa-map-marker
                | 高雄市大樹區學城路一段12號
    #classic.tab-pane.fade
      .row
        .col-xs-12.title
          h4 免稅旗艦店
        .wrapper
          .col-md-4.col-sm-6.col-xs-12
            .content
              p
                b 桃園機場 T2 第二航廈出境區