- var url = '/ezfiles/772/1772/img/264/'

.page.container-fluid.page-title#aboutus-1-1
  .row
    .col-xs-12
      h4.title.text-center 關於協會

.page.container-fluid.aboutus-1.section-1
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"aboutus-1-img-1.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 設立沿革
        p 社團法人台灣評鑑協會（簡稱台評會）成立於2003年，屬於非營利機構，致力於發展符合政策或實務需求的評鑑認證機制，並以公平、客觀、中立的立場，發展具公信力的評鑑制度，為各界一致認可之專業評鑑組織。

.page.container-fluid.page-title#aboutus-1-2
  .row
    .col-xs-12
      h4.title.text-center 宗旨任務

.page.container-fluid.aboutus-1.section-2
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"aboutus-1-img-2.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        h5.sub-title 創會
        p 台評會係以「發展及推廣評鑑知識與技術並提供評鑑服務」為宗旨的法人團體，由國內學術界、企業界相關人士共同組成，自創立以來即秉持「前瞻評鑑‧洞悉國際‧深耕理論‧發想實務」之理念，致力於發展公開、透明、合理之評鑑機制及推廣評鑑知識，組織具公信力的專業評鑑團隊進行輔導、評鑑或認證，並鼓勵各機關團體自我改善，建立內部品質保證機制，促進機關團體健全發展。
      .content
        h5.sub-title 發展願景
        p 卓越且具公信力的評鑑專業服務機構

.page.container-fluid.aboutus-1.section-3
  .row
    .col-sm-5.col-sm-push-7.col-xs-12.img
      img.img-responsive(src=url+"aboutus-1-img-3.jpg", alt="")
    .col-sm-7.col-sm-pull-5.col-xs-12.text
      .content
        h5.sub-title 實施目標
        p
          | 前瞻評鑑－「評鑑服務」多元發展
          br
          | 洞悉國際－「評鑑認證」國際接軌
          br
          | 深耕理論－「評鑑知能」落實深耕
          br
          | 發想實務－「評鑑專業」精進紮根	
      .content
        h5.sub-title 核心特色
        p
          | 創造「加值型」服務 × 成就「五新級」品質
          br
          | 1.醞釀新能量—完善的專業委員資料庫，奠定評鑑推動基礎
          br
          | 2.催化新機會—嚴謹且專業的評鑑服務，落實品質管理理念
          br
          | 3.開創新價值—人脈與學術資源的整合，發揮智慧應用價值
          br
          | 4.樹立新思維—制度化的委員培訓機制，充實評鑑專業素養
          br
          | 5.點燃新動能—經驗豐富的策略顧問群，構築堅強智庫團隊