- var url = '/ezfiles/800/1800/img/638/'
.right
	//- a.svg(href="" target="_blank" style="background:url("+url+"right-icon-1.svg); width: 79px; height: 79px;")
	a.svg.gotop(href="javascript: void(0);" style="background:url("+url+"gotop.svg); width: 70px; height: 70px;")
	