- var url = '/ezfiles/835/1835/img/1180/'
nav.navbar
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#myNavbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//- // LOGO放置處
			//- a.navbar-brand.svg(href='/' style="background: url("+url+"logo.svg); width: 150px; height: 29px;")
		#myNavbar.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li(data-aos="fade-in", data-aos-delay="100")
					a(href="") HOME
				li(data-aos="fade-in", data-aos-delay="200")
					a(href="") ABOUT US
				li(data-aos="fade-in", data-aos-delay="300")
					a(href="") CONTACTS