- var url = './dist/images/'

// 電腦版 banner
.idx-banner.owl-carousel.hidden-xs
	.item
		img.img-responsive(src=url + "banner.jpeg", alt="")
	.item
		img.img-responsive(src=url + "banner.jpeg", alt="")

// 手機版版 banner
.idx-banner.owl-carousel.visible-xs
	.item
		img.img-responsive(src=url + "banner-m.png", alt="")
	.item
		img.img-responsive(src=url + "banner-m.png", alt="")