- var url = '/dist/images/'

.banner.container-fluid
	.row
		.col-xs-12.banner-content
			img.img-responsive.hidden-xs(src=url + "banner.png", alt="")
			span.svg.banner-img.visible-xs(style="background:url("+url+"banner.png);")
			.content
				span.svg(style="background:url("+url+"logo.svg); width: 485px; height: 75px;")
			span.svg.scroll(style="background:url("+url+"arrow.svg); width: 42px; height: 21px;")