- var url = '/ezfiles/800/1800/img/638/'

.idx.container-fluid.section-1
  .row
    .col-sm-4.col-xs-12
      a(href="")
        .img
          img.img-responsive(src=url + "section-1-img-1.png")
        .content
          .box
            span.svg(style="background:url("+url+"section-1-text-1.svg); width: 224px; height: 29px;")
    .col-sm-4.col-xs-12
      a(href="")
        .img
          img.img-responsive(src=url + "section-1-img-2.png")
        .content
          .box
            span.svg(style="background:url("+url+"section-1-text-2.svg); width: 224px; height: 29px;")
    .col-sm-4.col-xs-12
      a(href="")
        .img
          img.img-responsive(src=url + "section-1-img-3.png")
        .content
          .box
            span.svg(style="background:url("+url+"section-1-text-3.svg); width: 265px; height: 29px;")