- var url = '/ezfiles/835/1835/img/1180/'

.idx.container-fluid.section-2
  .row
    .col-sm-6.col-xs-12(data-aos="fade")
      .embed-responsive.embed-responsive-16by9
        video.embed-responsive-item(src=url + "0818_borsalini_v1_final_5MB.mp4#t=1", controls)
    .col-sm-6.col-xs-12(data-aos="fade")
      .embed-responsive.embed-responsive-16by9
        video.embed-responsive-item(src=url + "0827_borsalini_v2_5mb.mp4#t=1", controls)