- var url = '/ezfiles/802/1802/img/644/'

.idx.container-fluid.section-2
  .row
    .col-xs-12
      .text-content
        span.svg.title-1(style="background:url("+url+"section-2-title-1.svg); height: 34px;")
        span.svg.line(style="background:url("+url+"line.svg); height: 4px;")
        br
        span.svg.title-2(style="background:url("+url+"section-2-title-2.svg); height: 49px;")
        //- span.svg.title-1(style="background:url("+url+"section-2-title-1.svg); width: 149px; height: 34px;")
        //- span.svg.line(style="background:url("+url+"line.svg); width: 85px; height: 4px;")
        //- br
        //- span.svg.title-2(style="background:url("+url+"section-2-title-2.svg); width: 291px; height: 49px;")
    .col-xs-12.service-content
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-1.svg); width: 180px; height: 180px;")
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-2.svg); width: 180px; height: 180px;")
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-3.svg); width: 180px; height: 180px;")
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-4.svg); width: 180px; height: 180px;")
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-5.svg); width: 180px; height: 180px;")
      .content
        a.svg(href="" style="background:url("+url+"section-2-icon-6.svg); width: 180px; height: 180px;")