- var url = '/ezfiles/800/1800/img/638/'

.idx.container-fluid.section-2
  .row
    .col-sm-6.col-xs-12.text
      .module-title
        h4.title
          | 關於我們
          br
          | ABOUT US
      p
        | 本公司以”品質確實 精進服務”之精神 製造品質穩定的產品且誠實信用的態度服務客戶，關心客戶的需求及瞭解市場動向，以客戶滿意為服務目的，持續改善製程及提昇研發能力，創造企業永續經營的生命力。
      p.more
        a.btn
          | 了解更多
          span.svg(style="background:url("+url+"section-2-icon.svg); width: 81px; height: 5px;")
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-2-img.png", alt="")