- var url = './dist/images/'

.idx.container-fluid.section-1#section-1
  #particles-js
  .linear-gradient
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        span.svg(style="background:url("+url+"section-1-title.svg); width: 422px; height: 79px;")
      p.hidden-xs(data-aos="fade-up")
        | 上海合极数据科技有限公司以设计实验室精密电子仪器和实验室智能化解决方案的新型企业。
        br
        | 主营业务为数据和智能化系统整合方案商，专注在智能实验室系统解决方案。合极有完整的供应链，
        br
        | 在研发、技术、专利、销售渠道、洞察市场发展具有竞争优势。跟随国家十四五的发展布局，
        br
        | 提升下一代高校科研和产业科研实验，提供创新的科研环境； 并可应用在跨领域实验室智能化应用。
        br
        | 公司发展潜力无限且竞争力强，致力于打造成为优质领头智能实验室解决方案商。
        br
        | 合极有资深的专家加持，秉持着开放包容进取的工作环境，团队协作，相互支持，一同发展，用心经营，
        br
        | 往目标前进。有合理科学的晋升渠道，并支持员工可持续发展。公司主张有良好的人品，
        br
        | 积极乐观的工作态度。发掘优秀人才成为公司的合伙人与企业共成长、共发展!
      p.visible-xs(data-aos="fade-up")
        | 上海合极数据科技有限公司以设计实验室精密电子仪器和实验室智能化解决方案的新型企业。主营业务为数据和智能化系统整合方案商，专注在智能实验室系统解决方案。合极有完整的供应链，在研发、技术、专利、销售渠道、洞察市场发展具有竞争优势。跟随国家十四五的发展布局，提升下一代高校科研和产业科研实验，提供创新的科研环境； 并可应用在跨领域实验室智能化应用。公司发展潜力无限且竞争力强，致力于打造成为优质领头智能实验室解决方案商。合极有资深的专家加持，秉持着开放包容进取的工作环境，团队协作，相互支持，一同发展，用心经营，往目标前进。有合理科学的晋升渠道，并支持员工可持续发展。公司主张有良好的人品，积极乐观的工作态度。发掘优秀人才成为公司的合伙人与企业共成长、共发展!
      p.en-content#en-content
        | Shanghai Heji Data Technology Co., Ltd. is a new type of enterprise that designs laboratory precision electronic instruments and laboratory intelligent solutions. Heji’s core business is data and intelligent system integration solution provider, focusing on smart laboratory system solutions. Heji owns a complete supply chain and has competitive advantages in R&D, technology, intellectual properties, sales channels, and market insights. Following the development layout of the country’s 14th Five-Year Plan to enhance the next generation of educational and industrial scientific research experiments, provide an innovative scientific research environment that can be applied to cross-field laboratory intelligent applications. The company has great development potential that is competitive in the market and is committed to become the industry’s leader for high-quality intelligent laboratory solution provider. Heji has senior experts, offers an opened working environment, values teamwork, working towards a common goal with heart and synergy. Heji offers good promotion channels and support the sustainable career development. The company advocates good characters with a positive working attitude. We invite outstanding talents to join us as partners of the company. Come to grow and achieve together with the company!
      p.readmore(data-aos="fade-up")
        a.svg(style="background:url("+url+"readmore.svg); width: 160px; height: 31px;")
      span.svg.scroll(style="background:url("+url+"arrow-blue.svg); width: 42px; height: 21px;")