- var url = '/ezfiles/802/1802/img/644/'

.idx.container-fluid.section-1
  .row
    .col-xs-12
      .icon-group
        .content
          a.icon.svg(style="background:url("+url+"section-1-icon-1.svg); width: 168px; height: 193px;" href="#")
        .content
          a.icon.svg(style="background:url("+url+"section-1-icon-2.svg); width: 168px; height: 193px;" href="#")
        .content
          a.icon.svg(style="background:url("+url+"section-1-icon-3.svg); width: 168px; height: 193px;" href="#")
      .text-content
        span.svg.line(style="background:url("+url+"line.svg); height: 4px;")
        span.svg.title-1(style="background:url("+url+"section-1-title-1.svg); height: 32px;")
        br
        span.svg.title-2(style="background:url("+url+"section-1-title-2.svg); height: 124px;")
        //- span.svg.line(style="background:url("+url+"line.svg); width: 85px; height: 4px;")
        //- span.svg.title-1(style="background:url("+url+"section-1-title-1.svg); width: 150px; height: 32px;")
        //- br
        //- span.svg.title-2(style="background:url("+url+"section-1-title-2.svg); width: 243px; height: 124px;")