- var url = '/ezfiles/835/1835/img/1180/'

.idx.container-fluid.section-3
  .row
    .col-sm-6.col-xs-12(data-aos="fade")
      a(href="")
        img.img-responsive(src=url + "section-3-img.png", alt="")
    .col-sm-6.col-xs-12(data-aos="fade")
      .owl-carousel
        .item
          a(href="")
            img.img-responsive(src=url + "section-3-img-owl.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-3-img-owl.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-3-img-owl.png", alt="")