- var url = '/dist/images/'

.idx.container-fluid.section-1
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-1-img.png", alt="")
    .col-sm-6.col-xs-12.text
      .module-title
        h4.title 服務項目
        h4.sub-title SERVICE
      p ● 免費到府現場評估、產品諮詢。
      p ● 專業團隊提供安裝及施工服務。
      p ● 訂製浴櫃、廚具、系統櫃，打造優良品質及精美設計。
      p.more
        a.btn(href="") View More