- var url = '/dist/images/'

.idx.container-fluid.section-2
  .row
    .col-xs-12
      .module-title
        h4.title 最新消息
        h4.sub-title NEWS
  .row.list
    .col-xs-12
      a(href="")
        span.date > 2020.05.28
        span.title 欣和衛浴RWD響應式網站全新上線中
        span.info 欣和衛浴RWD響應式網站全新上線中，全新觀感，清新大方，帶給消費者全新的視覺感受如針對官網有操作疑問，都可來電詢問及建議喔，謝謝!
    .col-xs-12
      a(href="")
        span.date > 2020.05.28
        span.title 欣和衛浴RWD響應式網站全新上線中
        span.info 欣和衛浴RWD響應式網站全新上線中，全新觀感，清新大方，帶給消費者全新的視覺感受如針對官網有操作疑問，都可來電詢問及建議喔，謝謝!
    .col-xs-12
      a(href="")
        span.date > 2020.05.28
        span.title 欣和衛浴RWD響應式網站全新上線中
        span.info 欣和衛浴RWD響應式網站全新上線中，全新觀感，清新大方，帶給消費者全新的視覺感受如針對官網有操作疑問，都可來電詢問及建議喔，謝謝!
  .row.foot-btn
    p.text-right
      a.btn(href="") View More