- var url = './dist/images/'

.idx.container-fluid.section-2#section-2
  .row
    .col-sm-12.col-xs-12
      .module-title(data-aos="fade-up")
        span.svg(style="background:url("+url+"section-2-title.svg); width: 256px; height: 79px;")
    .col-sm-6.col-xs-12.info
      .module-title(data-aos="fade-up")
        span.svg(style="background:url("+url+"section-2-logo.svg); width: 403px; height: 78px;")
      p(data-aos="fade-up")
        span.svg(style="background:url("+url+"section-2-icon-1.svg); width: 15px; height: 15px;")
        a(href="mailto: info@hejidata.com") info@hejidata.com
      p(data-aos="fade-up")
        span.svg(style="background:url("+url+"section-2-icon-2.svg); width: 15px; height: 15px;")
        a(href="https://j.map.baidu.com/57/sJcJ" target="_blank") 上海市闵行区新龙路399弄1号上坤国际广场T4栋11层1102C室
        br
        | Unit 1102C, Floor 11, Building T4, No. 1, Lane 399, Xinlong Road, Minhang District, Shanghai
    .col-sm-6.col-xs-12.form#form(data-aos="fade-up")
      .form-group(:class="{warning: warning.name}")
        label(for="name") 姓名 Name
        input#name.form-control(type="text" v-model="form.name")
      .form-group(:class="{warning: warning.number}")
        label(for="number") 电话 Number
        input#number.form-control(type="text" v-model="form.number")
      .form-group(:class="{warning: warning.email}")
        label(for="email") 电邮 E-mail
        input#email.form-control(type="email" v-model="form.email")
      .form-group(:class="{warning: warning.message}")
        label(for="message") 留言 Messages
        textarea#message.form-control(rows="5" v-model="form.message")
      button.svg(type="submit" @click="submit" style="background:url("+url+"sendmessage.svg); width: 151px; height: 29px;" data-aos="fade-up")
      span.glyphicon.glyphicon-refresh(v-if="loading")
    .col-xs-12.col-sm-12
      p.text-center
        span.svg.scroll(style="background:url("+url+"arrow-blue.svg); width: 42px; height: 21px;")