.page.container-fluid
  +max-width
  margin-top: 130px
  @media #{$pad-horizantal}
    margin-top: 90px
  @media #{$pad-vertical}
    margin-top: 90px
  @media #{$mobile}
    margin-top: 80px
    padding: 0 15px
  .row
    @media screen and (min-width: 768px)
      margin: 0 -15px
    @media #{$pad-horizantal}
      margin: 0
    @media #{$pad-vertical}
      margin: 0
    @media #{$mobile}
      margin: 0

.mpgdetail
  padding: 0
.mb
  padding-top: 0

@import '關於品牌.sass'
@import '線上目錄.sass'