.main.news-detail
  >.minner
    +max-width
    margin-top: 130px
    @media #{$mobile}
      margin-top: 130px
      padding: 0 15px
  .col.col_03
    margin-top: 90px
    @media #{$mobile}
      margin-top: 30px
    .d-item
      h5
        overflow: initial
        a
          color: $color-orange
          border-left: 5px solid $color-orange
          padding-left: 15px
          line-height: 40px
          white-space: nowrap
          overflow: initial
    .d-img
      img
        width: 100%


.news-detail
  .module-title
    margin-bottom: 50px
    @media #{$mobile}
      margin-bottom: 30px
    h4.title
      text-align: left
      color: $color-orange
      border-left: 5px solid $color-orange
      padding-left: 15px
      @media #{$mobile}
        line-height: 40px
  .img,
  .video
    margin-bottom: 30px
    @media #{$mobile}
      margin-bottom: 15px
  .info
    .info-title
      font-weight: normal
      font-size: 26px
      margin-bottom: 15px
      line-height: 52px