.module-ptlist
  margin-bottom: 60px
  @media #{$mobile}
    margin-bottom: 30px
  .mbtn
    +btn
    padding-left: 5px
    padding-right: 5px
  &.link
    .d-item
      &:hover
        a
          color: initial
      a
        &:hover
          color: $color-blue
    .organization
      a
        color: #1A2731
        +trans
        &:hover
          color: $color-blue
  .d-item
    .d-txt
      .mdetail
        overflow: initial
        display: block